[submodule "demo/external/JNWLabel"]
	path = demo/external/JNWLabel
	url = https://github.com/jwilling/JNWLabel.git
[submodule "external/JNWScrollView"]
	path = external/JNWScrollView
	url = https://github.com/mattwymore/JNWScrollView.git
